
.svgdeveloper img {
  border-radius: 3%;
  width: 100%;
  max-width: 30rem;
  height: auto;
}


.sectionDos {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 35rem;
  background-color: rgb(248, 150, 81);
  text-align: center; 
  padding: 1rem;
}

/*contenido de la seccion es decir el texto*/
.textuno p {
  
  max-width: 800px; /* Aumenta este valor si quieres más ancho */
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 1.6;
}

.textgrande{
  font-size: 1.4rem;
}



/* RESPONSIVE */
@media (max-width: 1024px) {
  .section-dos {
    flex-direction: column-reverse; /* Imagen abajo en móviles */
    text-align: center;
  }

  
  .svgimg2 img {
    max-width: 60%;
  }

  .section-dos p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .section-uno {
    padding: 2% 1%;
  }

  .section-dos {
    flex-direction: column;
    gap: 2rem;
  }

  .section-dos p {
    font-size: 1rem;
  }

  .svgdeveloper img,
  .svgimg2 img {
    max-width: 90%;
  }
}

  