

.home-container {
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Elementos en columna */
  background-color: #f2f2f2;
  padding: 2rem;
}

/* Sección 1 */
.section-uno {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
  padding: 5% 2%;
  text-align: center;
}

.svgdeveloper img {
  border-radius: 4%;
  width: 100%;
  max-width: 30rem;
  height: auto;
}

/* Sección 2 */
.section-dos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5% 2%;
  gap: 3rem;
}

.section-dos p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  max-width: 600px; /* Para que no se extienda demasiado */
}

.svgimg2 img {
  border-radius: 4%;
  width: 100%;
  max-width: 40rem;
  height: auto;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .section-uno,
  .section-dos {
    flex-direction: column-reverse; /* Imagen abajo en móviles */
    text-align: center;
  }

  .svgdeveloper img,
  .svgimg2 img {
    max-width: 60%;
  }

  .section-dos p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .section-uno {
    padding: 3% 1%;
  }

  .section-dos {
    flex-direction: column;
    gap: 2rem;
  }

  .section-dos p {
    font-size: 1rem;
  }

  .svgdeveloper img,
  .svgimg2 img {
    max-width: 90%;
  }
}

  