

.home-container {
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Elementos en columna */
  background-color: #f2f2f2;
  padding: 2rem;
}

/* Secci칩n 1 */
.section-uno {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas peque침as */
  padding: 5% 2%;
  text-align: center;
}

.svgdeveloper img {
  border-radius: 4%;
  width: 100%;
  max-width: 30rem;
  height: auto;
}

.section-dos {
  align-items: center;
  text-align: center;
  padding: 15px;
}
.svgimg2 img {
  border-radius: 4%;
  width: 40%; 
  height: auto;
}

.textuno {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 35rem;
  background-color: rgb(248, 150, 81);
  text-align: center; 
  padding: 1rem; 
  font-family: 'Raleway', sans-serif;
}

/*contenido de la seccion es decir el texto*/
.textuno p {
  
  max-width: 800px; /* Aumenta este valor si quieres m치s ancho */
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 1.6;
}

.textgrande{
  font-size: 1.4rem;
}



/* RESPONSIVE */
@media (max-width: 1024px) {
  .section-uno,
  .section-dos {
    flex-direction: column-reverse; /* Imagen abajo en m칩viles */
    text-align: center;
  }

  .svgdeveloper img,
  .svgimg2 img {
    max-width: 60%;
  }

  .section-dos p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .section-uno {
    padding: 3% 1%;
  }

  .section-dos {
    flex-direction: column;
    gap: 2rem;
  }

  .section-dos p {
    font-size: 1rem;
  }

  .svgdeveloper img,
  .svgimg2 img {
    max-width: 90%;
  }
}

  