/* css general margenes en cero, padding en cero */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.particulas-container {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  border-radius: 1rem;
}

.particulas-fondo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.section-uno {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.5rem;
  text-align: center;
  
}


.section-uno .imagen img {
  width: 25rem;
  height: auto;
  margin: 0 auto;
  display: block;
}


/* estilos globales para el tamaño los tipos de letras y para que no sobrepase la pantalla */
html, body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  overflow-x: hidden; /* Evita desplazamiento horizontal */
}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}

@keyframes lightWave {
  0% {
    transform: translate(0, 0);
    opacity: 0.4;
  }
  50% {
    transform: translate(-10%, -10%);
    opacity: 0.6;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.4;
  }
}

.animate-lightWave {
  animation: lightWave 10s ease-in-out infinite alternate;
  position: absolute;
  top: -50%;
  left: -50%;
  pointer-events: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s step-end infinite;
}





.full-width {
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Ajustes responsivos */
@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }
  
  body {
    font-size: 18px;  /* Reduce el tamaño del texto */
  }
}

